@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-image: url(images/bg-intro-desktop.png);
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intro {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.intro h1 {
    color: white;
    font-weight: 600;
    width: 350px;
    line-height: 3rem;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: start;
    margin-left: -150px;
}

.intro p {
    color: white;
    text-align: start;
    width: 500px;
}

.right {
    width: 500px;
    height: 500px;
    margin-left: 10px;

}

.trial {
    width: 500px;
    height: 50px;
    background-color: var(--Blue);
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.trial span {
    color: white;
    font-weight: 600;
}

::placeholder {
    padding: 20px;
}

.trial p {
    color: var(--Grayish-Blue);
}

.main {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-right: 30px;
}

/* #first-name-error {
    color: red;
    font-size: 10px;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: 290px;
    font-style: italic;
    display: none;
    font-weight: 400;
} */
.all-errors {
    color: red;
    font-size: 10px;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: 290px;
    font-style: italic;
    display: none;
    font-weight: 400;
}
.main input {
    height: 50px;
    border: 1px solid var(--Grayish-Blue);
    border-radius: 5px;
}
button {
    padding: 18px;
    background-color: var(--Green);
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.09rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(56, 204, 139, 0.7);
}

.main p {
    color: var(--Grayish-Blue);
    font-size: 12px;
    font-weight: 400px;
    text-align: center;
    margin-bottom: 20px;
}

.main span {
    color: var(--red);
    font-weight: bold;
}

.js-span {
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 12px;
    font-style: italic;
    color: red;
}

.input-form-error {
    background-image: url(images/icon-error.svg);
    background-repeat: no-repeat;
    justify-content: flex-end;
    background-position: 95%;
    display: block;
}